sampleflow.txt
[{"id":"1fc19908.f2bb67","type":"function","z":"5f042517.fed3ec","name":"Supiをチェックする","func":"/*********************\n * Condition定義時のトップになるFunctionNode\n * Conditionの固有パラメータはここに設定する。\n *********************/\n\nvar MyOperation = new Object();\n\n/***[ConditionTypeを設定する Start]***/\n\nMyOperation.ConditionType = 1;\n\n/***[ConditionTypeを設定する End]***/\n\n/***[固有パラメータを設定 Start]***/\n\n\n\n/***[固有パラメータを設定 End]***/\n\nvar Condition = [];\nmsg.Condition = Condition;\nmsg.Condition.push(MyOperation);\nmsg.Top = true;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":572.1667671203613,"y":251.3333396911621,"wires":[["2aa9d7b6.c802d8"]]},{"id":"363eed9c.2c1552","type":"CreateJson","z":"5f042517.fed3ec","name":"登録Table名、Key値を記載","topic":"","tablename":"CONDITION_TABLE","keyvalue":"1","intervalCount":"3","intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":549.0000343322754,"y":173.00000190734863,"wires":[["4e8d7748.972138"]]},{"id":"86c696a9.e59bf8","type":"link in","z":"5f042517.fed3ec","name":"","links":["7ddd3e51.5dae4","7897aa2e.57b334","e53173bf.b5fab"],"x":374.0000343322754,"y":173.00000190734863,"wires":[["363eed9c.2c1552"]]},{"id":"71f43fef.14c9","type":"debug","z":"5f042517.fed3ec","name":"結果","active":true,"console":"false","complete":"true","x":1139.0000343322754,"y":173.00000190734863,"wires":[]},{"id":"4e8d7748.972138","type":"function","z":"5f042517.fed3ec","name":"SQL文変換","func":"msg.topic = \"replace into \" + msg.tablename + \" values('\" + msg.keyvalue + \"','\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":779.0000343322754,"y":173.00000190734863,"wires":[["9c8be958.2a0588"]]},{"id":"9c8be958.2a0588","type":"mysql","z":"5f042517.fed3ec","mydb":"f888718f.e9c4a","name":"DB登録","x":969.0000343322754,"y":173.00000190734863,"wires":[["71f43fef.14c9"]]},{"id":"b19ee5d2.4c09c8","type":"comment","z":"5f042517.fed3ec","name":"━━━━━━━━━━━━━━[supiチェックし設定されていれば表示しResponseに乗せるプラン]━━━━━━━━━━━━━━","info":"ConditionType: 1","x":648.1666870117188,"y":656.0001211166382,"wires":[]},{"id":"2aa9d7b6.c802d8","type":"function","z":"5f042517.fed3ec","name":"Equal","func":"/*********************\n * 出力端子につないだデータの一致をチェックする。\n *********************/\n\nvar MyOperation = new Object();\nMyOperation.OperationType = 0;\n\nvar len = msg.Condition.length;\nif(msg.Top != true){\n  msg.Condition[len-1].Operation = [];\n  for (var i = 0;  i < msg.counter;  i++  ) {\n    msg.Condition[len-1].Operation.push(null);\n  }\n  msg.Condition[len-1].Operation.push(MyOperation);\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ConditionType = msg.ConditionType;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.Top = false;\nmsg1.counter = 0;\n\nvar msg2 = new Object();\nmsg2.Condition = msg.Condition;\nmsg1.Top = false;\nmsg2.counter = 1;\n\nreturn [msg1,msg2];\n","outputs":"2","noerr":0,"x":759.1667785644531,"y":251.00002765655518,"wires":[["4358c316.c2028c"],["4636791f.4ed358"]]},{"id":"7f0f8d66.1ad734","type":"inject","z":"5f042517.fed3ec","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":399.16676330566406,"y":252.33334064483643,"wires":[["1fc19908.f2bb67"]]},{"id":"4636791f.4ed358","type":"function","z":"5f042517.fed3ec","name":"Requestからsupi取得","func":"/*********************\n * Request信号からデータを取得する。\n *********************/\n\nvar MyOperation = new Object();\nMyOperation.OperationType = 4;\n\n/***[値の取得元パス Start]***/\nMyOperation.ParamName = [\"Request\",\"supi\"];\n/***[値の取得元パス End]***/\n\n/***[取得対象の値の型 Start]***/\n/********************\n * 0 : Int\n * 1 : String\n ********************/\n\nMyOperation.ParamKind = 1;\n\n/***[取得対象の値の型 End]***/\n\nvar len = msg.Condition.length;\n\nif(msg.Top != true){\n  msg.Condition[len-1].Operation = [];\n  for (var i = 0;  i < msg.counter;  i++  ) {\n    msg.Condition[len-1].Operation.push(null);\n  }\n  msg.Condition[len-1].Operation.push(MyOperation);\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ConditionType = msg.ConditionType;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.Top = false;\nmsg1.counter = 0;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":959.000114440918,"y":276.00000762939453,"wires":[["7897aa2e.57b334"]]},{"id":"4358c316.c2028c","type":"function","z":"5f042517.fed3ec","name":"Requestからsupi取得","func":"/*********************\n * Request信号からデータを取得する。\n *********************/\n\nvar MyOperation = new Object();\nMyOperation.OperationType = 4;\n\n/***[値の取得元パス Start]***/\nMyOperation.ParamName = [\"Request\",\"supi\"];\n/***[値の取得元パス End]***/\n\n/***[取得対象の値の型 Start]***/\n/********************\n * 0 : Int\n * 1 : String\n ********************/\n\nMyOperation.ParamKind = 1;\n\n/***[取得対象の値の型 End]***/\n\nvar len = msg.Condition.length;\n\nif(msg.Top != true){\n  msg.Condition[len-1].Operation = [];\n  for (var i = 0;  i < msg.counter;  i++  ) {\n    msg.Condition[len-1].Operation.push(null);\n  }\n  msg.Condition[len-1].Operation.push(MyOperation);\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ConditionType = msg.ConditionType;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.Top = false;\nmsg1.counter = 0;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":957.000114440918,"y":228.0000057220459,"wires":[["7ddd3e51.5dae4"]]},{"id":"7897aa2e.57b334","type":"link out","z":"5f042517.fed3ec","name":"","links":["86c696a9.e59bf8","b5558940.7e7308"],"x":1124.1668701171875,"y":275.6666946411133,"wires":[]},{"id":"7ddd3e51.5dae4","type":"link out","z":"5f042517.fed3ec","name":"","links":["86c696a9.e59bf8","b5558940.7e7308"],"x":1123.0001220703125,"y":226.0000057220459,"wires":[]},{"id":"e53173bf.b5fab","type":"link out","z":"5f042517.fed3ec","name":"","links":["86c696a9.e59bf8"],"x":322.00004482269287,"y":172.00000381469727,"wires":[]},{"id":"db58f7c5.99c3e8","type":"inject","z":"5f042517.fed3ec","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":536.1666870117188,"y":510.3333511352539,"wires":[["5d3f90d9.2587d"]]},{"id":"5d3f90d9.2587d","type":"function","z":"5f042517.fed3ec","name":"Supiを表示する","func":"/*********************\n * Action定義時のトップになるFunctionNode\n * Actionの固有パラメータはここに設定する。\n *********************/\n\nvar MyOperation = new Object();\n\n/***[ActionTypeを設定する Start]***/\n\nMyOperation.ActionType = 1;\n\n/***[ActionTypeを設定する End]***/\n\n/***[固有パラメータを設定 Start]***/\n\n/***[固有パラメータを設定 End]***/\n\nMyOperation.Operation = [];\n\nvar Condition = [];\nmsg.Condition = Condition;\nmsg.Condition.push(MyOperation);\nmsg.ActionNum = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":704.0000152587891,"y":513.0000171661377,"wires":[["d88b94c1.697648"]]},{"id":"d88b94c1.697648","type":"function","z":"5f042517.fed3ec","name":"Supiを表示","func":"var MyOperation = new Object();\n\n\n/***[表示対象のデータを取得するpath Start]***/\n\nMyOperation.ParamName = [\"Request\",\"supi\"];\n\n/***[表示対象のデータを取得するpath End]***/\n\n/***[表示対象のデータを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 0;\n\n/***[表示対象のデータを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 13;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":905.0000228881836,"y":518.0000553131104,"wires":[["1193da21.16b466"]]},{"id":"14f55f41.13cba1","type":"comment","z":"5f042517.fed3ec","name":"━━━━━━━━━━━━━━[supi表示、Responseに設定するアクション]━━━━━━━━━━━━━━","info":"ActionType: 1\n応答にもsupiを設定する。","x":746.0000610351562,"y":377.0000925064087,"wires":[]},{"id":"63754724.fd7e08","type":"CreateJson","z":"5f042517.fed3ec","name":"登録Table名、Key値を記載","topic":"","tablename":"ACTION_TABLE","keyvalue":"1","intervalCount":"3","intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":593.0000076293945,"y":431.00000953674316,"wires":[["220194e5.02c09c"]]},{"id":"33669adc.790406","type":"debug","z":"5f042517.fed3ec","name":"結果","active":true,"console":"false","complete":"true","x":1183.0000076293945,"y":431.00000953674316,"wires":[]},{"id":"220194e5.02c09c","type":"function","z":"5f042517.fed3ec","name":"SQL文変換","func":"msg.topic = \"replace into \" + msg.tablename + \" values('\" + msg.keyvalue + \"','\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":823.0000076293945,"y":431.00000953674316,"wires":[["a8fc0173.8d13e"]]},{"id":"a8fc0173.8d13e","type":"mysql","z":"5f042517.fed3ec","mydb":"f888718f.e9c4a","name":"DB登録","x":1013.0000076293945,"y":431.00000953674316,"wires":[["33669adc.790406"]]},{"id":"8731dfc0.57b6f","type":"link in","z":"5f042517.fed3ec","name":"ActionType1","links":["907043cf.35d21","4a65e695.27bde8"],"x":337.1666946411133,"y":436.33338356018066,"wires":[["63754724.fd7e08"]]},{"id":"907043cf.35d21","type":"link out","z":"5f042517.fed3ec","name":"","links":["8731dfc0.57b6f"],"x":287.16668128967285,"y":436.666690826416,"wires":[]},{"id":"4a65e695.27bde8","type":"link out","z":"5f042517.fed3ec","name":"","links":["8731dfc0.57b6f"],"x":1284.0000381469727,"y":520.0000972747803,"wires":[]},{"id":"1c4af190.72bdfe","type":"comment","z":"5f042517.fed3ec","name":"supiを表示","info":"信号上のsupiの有無をチェックしsupiがあればsupiを表示する。","x":349.00000762939453,"y":798.3333377838135,"wires":[]},{"id":"98aabb53.bbc088","type":"inject","z":"5f042517.fed3ec","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":504,"y":794.3333148956299,"wires":[["59d1b36e.4afaec"]]},{"id":"59d1b36e.4afaec","type":"function","z":"5f042517.fed3ec","name":"/sm-policies","func":"/*********************\n * ServicePlan定義時のトップになるFunctionNode\n *********************/\n\nvar MyOperation = new Object();\n\n/***[ServicePlanIDを設定する Start]***/\n\nMyOperation.ServicePlanID = \"/sm-policies\";\n\n/***[ServicePlanIDを設定する End]***/\n\nvar Condition = [];\n\nvar msg1 = new Object();\nmsg1.Condition = Condition;\nmsg1.Condition.push(MyOperation);\nmsg1.Top = true;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":661.0000152587891,"y":793.3333368301392,"wires":[["ed81508.d92ffb"]]},{"id":"ed81508.d92ffb","type":"function","z":"5f042517.fed3ec","name":"ConditionType:1","func":"var MyOperation = new Object();\n\n/***[ConditionIDを設定 Start]***/\n\nMyOperation.ConditionType = 1;\n\n/***[ConditionIDを設定 End]***/\n\n/***[Conditionの固有パラメータ設定 Start]***/\n\n\n/***[Conditionの固有パラメータ設定 End]***/\n\nMyOperation.TrueCondition = null;\nMyOperation.FalseCondition = null;\nMyOperation.TrueAction = null;\nMyOperation.FalseAction = null;\n\nvar len = msg.Condition.length;\n\nif(msg.Top != true) {\n  switch (msg.LinkName) {\n    case \"TrueCondition\":\n      msg.Condition[len-1].TrueCondition = MyOperation;\n      break;\n    case \"FalseCondition\":\n      msg.Condition[len-1].FalseCondition = MyOperation;\n      break;\n    default:\n  }\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ServicePlanID = msg.Condition[len-1].ServicePlanID;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Top = false;\nmsg1.Condition = msg.Condition;\nmsg1.LinkName = \"TrueCondition\";\n\nvar msg2 = new Object();\nmsg2.Top = false;\nmsg2.Condition = msg.Condition;\nmsg2.LinkName = \"FalseCondition\";\n\nvar msg3 = new Object();\nmsg3.Condition = msg.Condition;\nmsg3.LinkName = \"TrueAction\";\nmsg3.ActionCount = 0;\n\nvar msg4 = new Object();\nmsg4.Condition = msg.Condition;\nmsg4.LinkName = \"FalseAction\";\nmsg4.ActionCount = 0;\n\nreturn [msg1,msg2,msg3,msg4]\n","outputs":"4","noerr":0,"x":856.0000228881836,"y":792.3333358764648,"wires":[[],[],["7fd47ab5.50dd74"],[]]},{"id":"7fd47ab5.50dd74","type":"function","z":"5f042517.fed3ec","name":"ActionType: 1","func":"var MyOperation = new Object();\n\n/***[ActionIDを設定 Start]***/\n\nMyOperation.ActionType = 1;\n\n/***[ActionIDを設定 End]***/\n\n/***[Actionの固有パラメータ設定 Start]***/\n\n\n/***[Actionの固有パラメータ設定 End]***/\n\nvar len = msg.Condition.length;\n\nswitch (msg.LinkName) {\n  case \"TrueAction\":\n    if(msg.ActionCount == 0){\n      msg.Condition[len-1].TrueAction = []\n    }\n    msg.Condition[len-1].TrueAction[msg.ActionCount] = MyOperation;\n    break;\n  case \"FalseAction\":\n    if(msg.ActionCount == 0){\n      msg.Condition[len-1].FalseAction = []\n    }\n    msg.Condition[len-1].FalseAction[msg.ActionCount] = MyOperation;\n    break;\n    default:\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.LinkName = msg.LinkName;\nmsg1.ActionCount = msg.ActionCount + 1;\n\nreturn msg1;","outputs":"1","noerr":0,"x":1059.0000305175781,"y":797.3333368301392,"wires":[["6fe2f6bf.f5a768"]]},{"id":"d95c1a0.cdd57e8","type":"debug","z":"5f042517.fed3ec","name":"結果","active":true,"console":"false","complete":"true","x":1001,"y":717.3333129882812,"wires":[]},{"id":"bb1637a8.b64f28","type":"function","z":"5f042517.fed3ec","name":"SQL文変換","func":"msg.topic = \"replace into \" + msg.tablename + \" values('\" + msg.keyvalue + \"','\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":641,"y":717.3333129882812,"wires":[["fdccba96.a062d8"]]},{"id":"fdccba96.a062d8","type":"mysql","z":"5f042517.fed3ec","mydb":"f888718f.e9c4a","name":"DB登録","x":831,"y":717.3333129882812,"wires":[["d95c1a0.cdd57e8"]]},{"id":"ff644773.7e6de8","type":"CreateJson","z":"5f042517.fed3ec","name":"登録Table名、Key値を記載","topic":"","tablename":"SERVICE_PLAN","keyvalue":"/sm-policies","intervalCount":"3","intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":411.00001525878906,"y":718.3333339691162,"wires":[["bb1637a8.b64f28"]]},{"id":"f1ed4f33.844cc","type":"link out","z":"5f042517.fed3ec","name":"","links":["c7414e64.98e28"],"x":166.16669082641602,"y":716,"wires":[]},{"id":"c7414e64.98e28","type":"link in","z":"5f042517.fed3ec","name":"/sm-policies","links":["f1ed4f33.844cc","6fe2f6bf.f5a768","ed88fde8.6809a"],"x":228.16669273376465,"y":715.6666679382324,"wires":[["ff644773.7e6de8"]]},{"id":"6fe2f6bf.f5a768","type":"link out","z":"5f042517.fed3ec","name":"","links":["c7414e64.98e28"],"x":1205.000036239624,"y":801.3333358764648,"wires":[]},{"id":"ff089757.af6dd8","type":"http request","z":"5f042517.fed3ec","name":"","method":"POST","ret":"obj","url":"http://localhost:11201/sm-policies","tls":"","x":605.1666793823242,"y":990.0000333786011,"wires":[["e5beecf1.7e528"]]},{"id":"e5beecf1.7e528","type":"debug","z":"5f042517.fed3ec","name":"","active":true,"console":"false","complete":"false","x":802.1666870117188,"y":989.666693687439,"wires":[]},{"id":"ef0a2be5.7d43e8","type":"inject","z":"5f042517.fed3ec","name":"","topic":"","payload":"{\"supi\":\"imsi-819012345678\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":417.1666793823242,"y":990.3333673477173,"wires":[["ff089757.af6dd8"]]},{"id":"1193da21.16b466","type":"function","z":"5f042517.fed3ec","name":"supiをResponseにコピー","func":"var MyOperation = new Object();\n\n/***[コピー元のJsonObjectを取得するpath Start]***/\n\nMyOperation.ParamName = [\"Request\",\"supi\"];\n\n/***[コピー元のJsonObjectを取得するpath End]***/\n\n/***[コピー元のJsonObjectを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 0;\n\n/***[コピー元のJsonObjectを取得するバッファ種別 End]***/\n\n/***[コピー先のJsonObjectを指定するpath Start]***/\n\nMyOperation.ParamValue = [\"Response\",\"supi\"];\n\n/***[コピー先のJsonObjectを指定するpath End]***/\n\n/***[コピー先のJsonObjectを指定するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ValueKind = 3;\n\n/***[コピー先のJsonObjectを指定するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 4;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":1120.1667785644531,"y":516.3333911895752,"wires":[["4a65e695.27bde8"]]},{"id":"36f62c34.bfeef4","type":"comment","z":"5f042517.fed3ec","name":"━━━━━━━━━━━━━━[supiの設定有無をチェックするコンディション]━━━━━━━━━━━━━━","info":"信号上のsupiの有無をチェックしsupiがあればsupiを表示する。","x":711,"y":122.6666898727417,"wires":[]},{"id":"5436a792.7b37e8","type":"comment","z":"5f042517.fed3ec","name":"━━━━━━━━━━━━━━[HTTP Request信号送信]━━━━━━━━━━━━━━","info":"","x":613,"y":935.0000267028809,"wires":[]},{"id":"f888718f.e9c4a","type":"MySQLdatabase","z":"5f042517.fed3ec","host":"127.0.0.1","port":"11200","db":"PCF","tz":""}]