sampleflow.json
[{"id":"cbdb8887.af2c88","type":"comment","z":"3b30315b.af32fe","name":"INPUT信号","info":"{\n    \"appSessionId\": \"appSessionId\",\n    \"afAppId\": \"afAppId1\",\n    \"dnn\": \"dnn1\",\n    \"medComponents\": {\n        \"medComponents1\": {\n            \"fStatus\": \"ENABLED\",\n            \"marBwDl\": \"10Mbps\",\n            \"marBwUl\": \"10Mbps\",\n            \"medCompN\": 1,\n            \"medType\": \"AUDIO\",\n            \"resPrio\": \"PRIO_9\",\n            \"medSubComps\": {\n                \"medSubComps1\": {\n                    \"fNum\": 1,\n                    \"fDescs\": [\n                        \"permit in ip from any to any\",\n                        \"permit out ip from any to any\"\n                    ],\n                    \"fStatus\": \"ENABLED\",\n                    \"marBwDl\": \"10Mbps\",\n                    \"marBwUl\": \"10Mbps\",\n                    \"flowUsage\": \"RTCP\"\n                },\n                \"medSubComps2\": {\n                    \"fNum\": 2,\n                    \"fDescs\": [\n                        \"permit in ip from 192.0.2.10/24 8080 to any\"\n                    ],\n                    \"fStatus\": \"ENABLED\",\n                    \"marBwDl\": \"10Mbps\",\n                    \"marBwUl\": \"10Mbps\",\n                    \"flowUsage\": \"NO_INFO\"\n                }\n            }\n        },\n        \"medComponents2\": {\n            \"fStatus\": \"ENABLED\",\n            \"marBwDl\": \"10Mbps\",\n            \"marBwUl\": \"10Mbps\",\n            \"medCompN\": 2,\n            \"medType\": \"VIDEO\",\n            \"resPrio\": \"PRIO_9\",\n            \"medSubComps\": {\n                \"medSubComps1\": {\n                    \"fNum\": 3,\n                    \"fDescs\": [\n                        \"permit in ip from any to 192.0.2.10/24\",\n                        \"permit out ip from any to 192.0.2.10/24\"\n                    ],\n                    \"fStatus\": \"ENABLED\",\n                    \"marBwDl\": \"10Mbps\",\n                    \"marBwUl\": \"10Mbps\",\n                    \"flowUsage\": \"RTCP\"\n                },\n                \"medSubComps2\": {\n                    \"fNum\": 4,\n                    \"fDescs\": [\n                        \"permit in ip from 192.0.2.10/24 8080 to any\"\n                    ],\n                    \"fStatus\": \"ENABLED\",\n                    \"marBwDl\": \"10Mbps\",\n                    \"marBwUl\": \"10Mbps\",\n                    \"flowUsage\": \"NO_INFO\"\n                }\n            }\n        }\n    },\n    \"resPrio\": \"PRIO_9\",\n    \"sliceInfo\": {\n        \"sst\": 0\n    },\n    \"supi\": \"imsi-819037452314\",\n    \"ueIpv4\": \"192.168.0.1\"\n}","x":494,"y":262.99999809265137,"wires":[]},{"id":"f4db6f18.b868d","type":"exec","z":"3b30315b.af32fe","command":"curl","addpay":true,"append":"--noproxy '*' -D - -H 'Content-Type:application/json' -X POST http://10.27.143.154:11201/app-sessions-internal --data '{\"appSessionId\": \"appSessionId\",\"afAppId\": \"afAppId1\",\"dnn\": \"dnn1\",\"medComponents\": {\"medComponents1\": {\"fStatus\": \"ENABLED\",\"marBwDl\": \"10Mbps\",\"marBwUl\": \"10Mbps\",\"medCompN\": 1,\"medType\": \"AUDIO\",\"resPrio\": \"PRIO_9\",\"medSubComps\": {\"medSubComps1\": {\"fNum\": 1,\"fDescs\": [\"permit in ip from any to any\",\"permit out ip from any to any\"],\"fStatus\": \"ENABLED\",\"marBwDl\": \"10Mbps\",\"marBwUl\": \"10Mbps\",\"flowUsage\": \"RTCP\"},\"medSubComps2\": {\"fNum\": 2,\"fDescs\": [\"permit in ip from 192.0.2.10/24 8080 to any\"],\"fStatus\": \"ENABLED\",\"marBwDl\": \"10Mbps\",\"marBwUl\": \"10Mbps\",\"flowUsage\": \"NO_INFO\"}}},\"medComponents2\": {\"fStatus\": \"ENABLED\",\"marBwDl\": \"10Mbps\",\"marBwUl\": \"10Mbps\",\"medCompN\": 2,\"medType\": \"VIDEO\",\"resPrio\": \"PRIO_9\",\"medSubComps\": {\"medSubComps1\": {\"fNum\": 3,\"fDescs\": [\"permit in ip from any to 192.0.2.10/24\",\"permit out ip from any to 192.0.2.10/24\"],\"fStatus\": \"ENABLED\",\"marBwDl\": \"10Mbps\",\"marBwUl\": \"10Mbps\",\"flowUsage\": \"RTCP\"},\"medSubComps2\": {\"fNum\": 4,\"fDescs\": [\"permit in ip from 192.0.2.10/24 8080 to any\"],\"fStatus\": \"ENABLED\",\"marBwDl\": \"10Mbps\",\"marBwUl\": \"10Mbps\",\"flowUsage\": \"NO_INFO\"}}}},\"resPrio\": \"PRIO_9\",\"sliceInfo\": {\"sst\": 0},\"supi\": \"imsi-819037452314\",\"ueIpv4\": \"192.168.0.1\"}'","useSpawn":"false","timer":"","oldrc":false,"name":"","x":751.083366394043,"y":223.60765838623047,"wires":[["9896fb4f.936fd8"],[],[]]},{"id":"9896fb4f.936fd8","type":"debug","z":"3b30315b.af32fe","name":"結果","active":true,"console":"false","complete":"true","x":893.0000076293945,"y":212,"wires":[]},{"id":"b8d7c9a9.7c0028","type":"inject","z":"3b30315b.af32fe","name":"/app-sessions-internal","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":532.0833435058594,"y":224.1875057220459,"wires":[["f4db6f18.b868d"]]},{"id":"90fe4961.edd8c8","type":"comment","z":"3b30315b.af32fe","name":"━━━━━━━━━━━━━━━━━━━━【/app-sessions-internal送信】━━━━━━━━━━━━━━━━━━━━","info":"【送信信号】","x":833.0000076293945,"y":172,"wires":[]},{"id":"ee5da38c.fa114","type":"CreateJson","z":"3b30315b.af32fe","name":"登録Table名、Key値を記載","topic":"","tablename":"SERVICE_PLAN","keyvalue":"/app-sessions-internal","intervalCount":1,"intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":656.0000076293945,"y":413,"wires":[["4dfc7739.7fd218"]]},{"id":"6301cf2.2162c3","type":"mysql","z":"3b30315b.af32fe","mydb":"b35679cc.f45b18","name":"DB登録","x":1076.0000076293945,"y":413,"wires":[["d7aae47f.b6b378"]]},{"id":"d7aae47f.b6b378","type":"debug","z":"3b30315b.af32fe","name":"結果","active":true,"console":"false","complete":"true","x":1246.0000076293945,"y":413,"wires":[]},{"id":"4dfc7739.7fd218","type":"function","z":"3b30315b.af32fe","name":"SQL文変換","func":"msg.topic = \"replace into \" + msg.tablename + \" values('\" + msg.keyvalue + \"','\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":886.0000076293945,"y":413,"wires":[["6301cf2.2162c3"]]},{"id":"1f2c738.463fc8d","type":"comment","z":"3b30315b.af32fe","name":"━━━━━━━━━━━━━━━━━━━━【/app-sessions-internal受信】━━━━━━━━━━━━━━━━━━━━","info":"","x":816.0000076293945,"y":329,"wires":[]},{"id":"2e04b2c4.e644de","type":"link in","z":"3b30315b.af32fe","name":"app-sessions-internal-001","links":["bd950925.094138","e443a82d.6722a8"],"x":495.76563262939453,"y":412.7344055175781,"wires":[["ee5da38c.fa114"]]},{"id":"bd950925.094138","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-001","links":["2e04b2c4.e644de"],"x":1245.7578201293945,"y":488.2656555175781,"wires":[]},{"id":"1e675d1c.cef6d3","type":"inject","z":"3b30315b.af32fe","name":"ServicePlan","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":514.9765701293945,"y":479.9609375,"wires":[["b947da35.b27808"]]},{"id":"b947da35.b27808","type":"function","z":"3b30315b.af32fe","name":"/app-sessions-internal","func":"/*********************\n * ServicePlan定義時のトップになるFunctionNode\n *********************/\n\nvar MyOperation = new Object();\n\n/***[ServicePlanIDを設定する Start]***/\n\nMyOperation.ServicePlanID = \"/app-sessions-internal\";\n\n/***[ServicePlanIDを設定する End]***/\n\nvar Condition = [];\n\nvar msg1 = new Object();\nmsg1.Condition = Condition;\nmsg1.Condition.push(MyOperation);\nmsg1.Top = true;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":709.9765701293945,"y":479.9609375,"wires":[["96dbd28.5caa83"]]},{"id":"2fbf7b12.0f9f84","type":"comment","z":"3b30315b.af32fe","name":"━━━━━━━━━━━━━━━━━━━━【supi, IPaddressの設定チェック】━━━━━━━━━━━━━━━━━━━━","info":"","x":822.9765701293945,"y":586.9609375,"wires":[]},{"id":"4d6261b7.e7b56","type":"inject","z":"3b30315b.af32fe","name":"Condition","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":531.9765701293945,"y":700.9609375,"wires":[["de16f579.b9a648"]]},{"id":"de16f579.b9a648","type":"function","z":"3b30315b.af32fe","name":"10","func":"/*********************\n * Condition定義時のトップになるFunctionNode\n * Conditionの固有パラメータはここに設定する。\n *********************/\n\nvar MyOperation = new Object();\n\n/***[ConditionTypeを設定する Start]***/\n\nMyOperation.ConditionType = 10;\n\n/***[ConditionTypeを設定する End]***/\n\n/***[固有パラメータを設定 Start]***/\n\n/***[固有パラメータを設定 End]***/\n\nvar Condition = [];\nmsg.Condition = Condition;\nmsg.Condition.push(MyOperation);\nmsg.Top = true;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":683.9765701293945,"y":700.9609375,"wires":[["604e8816.5b1128"]]},{"id":"386cd87c.5ad7c8","type":"function","z":"3b30315b.af32fe","name":"受信信号からsupiを取得","func":"/*********************\n * Request信号からデータを取得する。\n *********************/\n\nvar MyOperation = new Object();\nMyOperation.OperationType = 4;\n\n/***[値の取得元パス Start]***/\nMyOperation.ParamName = [\"Request\",\"supi\"];\n/***[値の取得元パス End]***/\n\n/***[取得対象の値の型 Start]***/\n/********************\n * 0 : Int\n * 1 : String\n ********************/\n\nMyOperation.ParamKind = 1;\n\n/***[取得対象の値の型 End]***/\n\nvar len = msg.Condition.length;\n\nif(msg.Top != true){\n  msg.Condition[len-1].Operation = [];\n  for (var i = 0;  i < msg.counter;  i++  ) {\n    msg.Condition[len-1].Operation.push(null);\n  }\n  msg.Condition[len-1].Operation.push(MyOperation);\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ConditionType = msg.ConditionType;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.Top = false;\nmsg1.counter = 0;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":1000.9765701293945,"y":676.9609375,"wires":[["bb6b8b71.55a3b8"]]},{"id":"52ffcae9.cc0ea4","type":"function","z":"3b30315b.af32fe","name":"受信信号からsupiを取得","func":"/*********************\n * Request信号からデータを取得する。\n *********************/\n\nvar MyOperation = new Object();\nMyOperation.OperationType = 4;\n\n/***[値の取得元パス Start]***/\nMyOperation.ParamName = [\"Request\",\"supi\"];\n/***[値の取得元パス End]***/\n\n/***[取得対象の値の型 Start]***/\n/********************\n * 0 : Int\n * 1 : String\n ********************/\n\nMyOperation.ParamKind = 1;\n\n/***[取得対象の値の型 End]***/\n\nvar len = msg.Condition.length;\n\nif(msg.Top != true){\n  msg.Condition[len-1].Operation = [];\n  for (var i = 0;  i < msg.counter;  i++  ) {\n    msg.Condition[len-1].Operation.push(null);\n  }\n  msg.Condition[len-1].Operation.push(MyOperation);\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ConditionType = msg.ConditionType;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.Top = false;\nmsg1.counter = 0;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":998.9765701293945,"y":718.9609375,"wires":[["533c861a.43c688"]]},{"id":"604e8816.5b1128","type":"function","z":"3b30315b.af32fe","name":"Equal","func":"/*********************\n * 出力端子につないだデータの一致をチェックする。\n *********************/\n\nvar MyOperation = new Object();\nMyOperation.OperationType = 0;\n\nvar len = msg.Condition.length;\nif(msg.Top != true){\n  msg.Condition[len-1].Operation = [];\n  for (var i = 0;  i < msg.counter;  i++  ) {\n    msg.Condition[len-1].Operation.push(null);\n  }\n  msg.Condition[len-1].Operation.push(MyOperation);\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ConditionType = msg.ConditionType;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.Top = false;\nmsg1.counter = 0;\n\nvar msg2 = new Object();\nmsg2.Condition = msg.Condition;\nmsg1.Top = false;\nmsg2.counter = 1;\n\nreturn [msg1,msg2];\n","outputs":"2","noerr":0,"x":813.9765701293945,"y":700.9609375,"wires":[["386cd87c.5ad7c8"],["52ffcae9.cc0ea4"]]},{"id":"9ff74d5a.ec367","type":"CreateJson","z":"3b30315b.af32fe","name":"登録Table名、Key値を記載","topic":"","tablename":"CONDITION_TABLE","keyvalue":"10","intervalCount":1,"intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":644.9765701293945,"y":630.9609375,"wires":[["988b6139.8243"]]},{"id":"6ca34726.c957d8","type":"mysql","z":"3b30315b.af32fe","mydb":"b35679cc.f45b18","name":"DB登録","x":1064.9765701293945,"y":630.9609375,"wires":[["68a54338.79bcac"]]},{"id":"68a54338.79bcac","type":"debug","z":"3b30315b.af32fe","name":"結果","active":true,"console":"false","complete":"true","x":1234.9765701293945,"y":630.9609375,"wires":[]},{"id":"988b6139.8243","type":"function","z":"3b30315b.af32fe","name":"SQL文変換","func":"msg.topic = \"replace into \" + msg.tablename + \" values('\" + msg.keyvalue + \"','\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":874.9765701293945,"y":630.9609375,"wires":[["6ca34726.c957d8"]]},{"id":"e77fae2e.bc687","type":"link in","z":"3b30315b.af32fe","name":"app-sessions-internal-002","links":["533c861a.43c688","bb6b8b71.55a3b8","e49ca336.ec0b2"],"x":488.97657012939453,"y":642.9609375,"wires":[["9ff74d5a.ec367"]]},{"id":"e49ca336.ec0b2","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-002","links":["e77fae2e.bc687"],"x":442.97657012939453,"y":643.9609375,"wires":[]},{"id":"bb6b8b71.55a3b8","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-002","links":["e77fae2e.bc687"],"x":1156.9765701293945,"y":675.9609375,"wires":[]},{"id":"533c861a.43c688","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-002","links":["e77fae2e.bc687"],"x":1160.9765701293945,"y":717.9609375,"wires":[]},{"id":"c9e27a43.a023a8","type":"comment","z":"3b30315b.af32fe","name":"━━━━━━━━━━━━━━━━━━━━【PduSession取得、内部イベント発行】━━━━━━━━━━━━━━━━━━━━","info":"","x":830.9765701293945,"y":815.9609375,"wires":[]},{"id":"96dbd28.5caa83","type":"function","z":"3b30315b.af32fe","name":"ConditionType = 10","func":"var MyOperation = new Object();\n\n/***[ConditionIDを設定 Start]***/\n\nMyOperation.ConditionType = 10;\n\n/***[ConditionIDを設定 End]***/\n\n/***[Conditionの固有パラメータ設定 Start]***/\n\n/***[Conditionの固有パラメータ設定 End]***/\n\nMyOperation.TrueCondition = null;\nMyOperation.FalseCondition = null;\nMyOperation.TrueAction = null;\nMyOperation.FalseAction = null;\n\nvar len = msg.Condition.length;\n\nif(msg.Top != true) {\n  switch (msg.LinkName) {\n    case \"TrueCondition\":\n      msg.Condition[len-1].TrueCondition = MyOperation;\n      break;\n    case \"FalseCondition\":\n      msg.Condition[len-1].FalseCondition = MyOperation;\n      break;\n    default:\n  }\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ServicePlanID = msg.Condition[len-1].ServicePlanID;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Top = false;\nmsg1.Condition = msg.Condition;\nmsg1.LinkName = \"TrueCondition\";\n\nvar msg2 = new Object();\nmsg2.Top = false;\nmsg2.Condition = msg.Condition;\nmsg2.LinkName = \"FalseCondition\";\n\nvar msg3 = new Object();\nmsg3.Condition = msg.Condition;\nmsg3.LinkName = \"TrueAction\";\nmsg3.ActionCount = 0;\n\nvar msg4 = new Object();\nmsg4.Condition = msg.Condition;\nmsg4.LinkName = \"FalseAction\";\nmsg4.ActionCount = 0;\n\nreturn [msg1,msg2,msg3,msg4]\n","outputs":"4","noerr":0,"x":935.9765701293945,"y":479.9609375,"wires":[[],[],["cc5b6c7e.28877"],[]]},{"id":"28b5d7d1.4c2c08","type":"inject","z":"3b30315b.af32fe","name":"Action","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":497.97657012939453,"y":956.9609375,"wires":[["7a622be9.991a94"]]},{"id":"1cab787b.c95958","type":"CreateJson","z":"3b30315b.af32fe","name":"登録Table名、Key値を記載","topic":"","tablename":"ACTION_TABLE","keyvalue":"10","intervalCount":1,"intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":648.9765701293945,"y":877.9609375,"wires":[["48d43576.9a9dec"]]},{"id":"7396808f.9cd3d","type":"mysql","z":"3b30315b.af32fe","mydb":"b35679cc.f45b18","name":"DB登録","x":1068.9765701293945,"y":877.9609375,"wires":[["81b375dd.9bc1d8"]]},{"id":"81b375dd.9bc1d8","type":"debug","z":"3b30315b.af32fe","name":"結果","active":true,"console":"false","complete":"true","x":1238.9765701293945,"y":877.9609375,"wires":[]},{"id":"48d43576.9a9dec","type":"function","z":"3b30315b.af32fe","name":"SQL文変換","func":"msg.topic = \"replace into \" + msg.tablename + \" values('\" + msg.keyvalue + \"','\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":878.9765701293945,"y":877.9609375,"wires":[["7396808f.9cd3d"]]},{"id":"6e62a34e.9cabdc","type":"link in","z":"3b30315b.af32fe","name":"app-sessions-internal-003","links":["e089718c.9f607","d6f6ff11.afca2"],"x":486.97657012939453,"y":875.9609375,"wires":[["1cab787b.c95958"]]},{"id":"e089718c.9f607","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-003","links":["6e62a34e.9cabdc"],"x":444.97657012939453,"y":877.9609375,"wires":[]},{"id":"7a622be9.991a94","type":"function","z":"3b30315b.af32fe","name":"10","func":"/*********************\n * Action定義時のトップになるFunctionNode\n * Actionの固有パラメータはここに設定する。\n *********************/\n\nvar MyOperation = new Object();\n\n/***[ActionTypeを設定する Start]***/\n\nMyOperation.ActionType = 10;\n\n/***[ActionTypeを設定する End]***/\n\n/***[固有パラメータを設定 Start]***/\n\nMyOperation.TableName = \"PduSession\";\nMyOperation.SendURI = \"/app-sessions-internal-001\";\n\n\n/***[固有パラメータを設定 End]***/\n\nMyOperation.Operation = [];\n\nvar Condition = [];\nmsg.Condition = Condition;\nmsg.Condition.push(MyOperation);\nmsg.ActionNum = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":633.9765701293945,"y":955.9609375,"wires":[["24579b7e.54c144"]]},{"id":"24579b7e.54c144","type":"function","z":"3b30315b.af32fe","name":"【debug】受信信号を表示","func":"var MyOperation = new Object();\n\n\n/***[表示対象のデータを取得するpath Start]***/\n\nMyOperation.ParamName = [\"Request\"];\n\n/***[表示対象のデータを取得するpath End]***/\n\n/***[表示対象のデータを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 0;\n\n/***[表示対象のデータを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 13;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":830.9765701293945,"y":956.9609375,"wires":[["1ddfe00f.c71c2"]]},{"id":"d6f6ff11.afca2","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-003","links":["6e62a34e.9cabdc"],"x":2650.9765224456787,"y":959.9612379074097,"wires":[]},{"id":"cc5b6c7e.28877","type":"function","z":"3b30315b.af32fe","name":"ActionType = 10","func":"var MyOperation = new Object();\n\n/***[ActionIDを設定 Start]***/\n\nMyOperation.ActionType = 10;\n\n/***[ActionIDを設定 End]***/\n\n/***[Actionの固有パラメータ設定 Start]***/\n\n/***[Actionの固有パラメータ設定 End]***/\n\nvar len = msg.Condition.length;\n\nswitch (msg.LinkName) {\n  case \"TrueAction\":\n    if(msg.ActionCount == 0){\n      msg.Condition[len-1].TrueAction = []\n    }\n    msg.Condition[len-1].TrueAction[msg.ActionCount] = MyOperation;\n    break;\n  case \"FalseAction\":\n    if(msg.ActionCount == 0){\n      msg.Condition[len-1].FalseAction = []\n    }\n    msg.Condition[len-1].FalseAction[msg.ActionCount] = MyOperation;\n    break;\n    default:\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.LinkName = msg.LinkName;\nmsg1.ActionCount = msg.ActionCount + 1;\n\nreturn msg1;","outputs":"1","noerr":0,"x":1126.9765701293945,"y":487.9609375,"wires":[["bd950925.094138"]]},{"id":"1ddfe00f.c71c2","type":"function","z":"3b30315b.af32fe","name":"PduSession情報取得","func":"var MyOperation = new Object();\n\n/***[アクセスするテーブル名を取得するpath Start]***/\n\nMyOperation.TableName = [\"TableName\"];\n\n/***[アクセスするテーブル名を取得するpath End]***/\n\n/***[アクセスするテーブル名を取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.TableKind = 4;\n\n/***[アクセスするテーブル名を取得するバッファ種別 End]***/\n\n/***[アクセスするデータのキー値を取得するpath Start]***/\n\nMyOperation.Value = [\"Request\",\"supi\"];\n\n/***[アクセスするデータのキー値を取得するpath End]***/\n\n/***[アクセスするデータのキー値を取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ValueKind = 0;\n\n/***[アクセスするデータのキー値を取得するバッファ種別 End]***/\n\n/***[取得したデータ設定するpath Start]***/\n\nMyOperation.Data = [\"PduSession\"];\n\n/***[取得したデータ設定するpath End]***/\n\n/***[取得したデータ設定するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.DataKind = 2;\n\n/***[取得したデータ設定するバッファ種別 End]***/\n\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 20;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":1067.9765853881836,"y":958.9609470367432,"wires":[["f16c7a41.dfd168"]]},{"id":"f16c7a41.dfd168","type":"function","z":"3b30315b.af32fe","name":"【debug】取得したPduSessionを表示","func":"var MyOperation = new Object();\n\n\n/***[表示対象のデータを取得するpath Start]***/\n\nMyOperation.ParamName = [\"PduSession\"];\n\n/***[表示対象のデータを取得するpath End]***/\n\n/***[表示対象のデータを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 2;\n\n/***[表示対象のデータを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 13;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":1339.9765853881836,"y":959.9609489440918,"wires":[["8f286a12.658cb8"]]},{"id":"76be0934.a50c28","type":"comment","z":"3b30315b.af32fe","name":"PduSession","info":"{\n    \"supi\": \"imsi-819037452314\",\n    \"interGrpIds\": [\n        \"12345678-123-123-a1\",\n        \"12345678-123-123-a2\"\n    ],\n    \"pduSessionId\": 1,\n    \"pduSessionType\": \"IPV4\",\n    \"dnn\": \"dnn1\",\n    \"notificationUri\": \"https://example.com/nsmf-pdusession/v1\",\n    \"accessType\": \"3GPP_ACCESS\",\n    \"ratType\": \"EUTRA\",\n    \"userLocationInfo\": {\n        \"eutraLocation\": {\n            \"tai\": {\n                \"plmnId\": {\n                    \"mcc\": \"440\",\n                    \"mnc\": \"20\"\n                },\n                \"tac\": \"1234\"\n            },\n            \"ecgi\": {\n                \"plmnId\": {\n                    \"mcc\": \"440\",\n                    \"mnc\": \"20\"\n                },\n                \"eutraCellId\": \"1234567\"\n            }\n        }\n    },\n    \"ueTimeZone\": \"JST\",\n    \"pei\": \"imei-356741081632167\",\n    \"ipv4Address\": \"192.168.0.1\",\n    \"subsSessAmbr\": {\n        \"uplink\": \"10Mbps\",\n        \"downlink\": \"10Mbps\"\n    },\n    \"subsDefQos\": {\n        \"5qi\": 5,\n        \"arp\": {\n            \"priorityLevel\": 15,\n            \"preemptCap\": \"NOT_PREEMPT\",\n            \"preemptVuln\": \"NOT_PREEMPTABLE\"\n        }\n    },\n    \"sliceInfo\": {\n        \"sst\": 1\n    },\n    \"smPolicyId\": \"12514;626b86232db17dc4975768c42737c807ee7c2c28;1\"\n}","x":1038.1432495117188,"y":999.2942028045654,"wires":[]},{"id":"8f286a12.658cb8","type":"function","z":"3b30315b.af32fe","name":"PduSessionを送信用バッファへ設定","func":"var MyOperation = new Object();\n\n/***[コピー元のJsonObjectを取得するpath Start]***/\n\nMyOperation.ParamName = [\"PduSession\"];\n\n/***[コピー元のJsonObjectを取得するpath End]***/\n\n/***[コピー元のJsonObjectを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 2;\n\n/***[コピー元のJsonObjectを取得するバッファ種別 End]***/\n\n/***[コピー先のJsonObjectを指定するpath Start]***/\n\nMyOperation.ParamValue = [\"senddata\",\"PduSession\"];\n\n/***[コピー先のJsonObjectを指定するpath End]***/\n\n/***[コピー先のJsonObjectを指定するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ValueKind = 2;\n\n/***[コピー先のJsonObjectを指定するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 4;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":1662.9765853881836,"y":961.294322013855,"wires":[["dc491e4b.e1b9e"]]},{"id":"dc491e4b.e1b9e","type":"function","z":"3b30315b.af32fe","name":"受信信号を送信用バッファへ設定","func":"\nvar MyOperation = new Object();\n\n/***[コピー元のJsonObjectを取得するpath Start]***/\n\nMyOperation.ParamName = [\"Request\"];\n\n/***[コピー元のJsonObjectを取得するpath End]***/\n\n/***[コピー元のJsonObjectを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 0;\n\n/***[コピー元のJsonObjectを取得するバッファ種別 End]***/\n\n/***[コピー先のJsonObjectを指定するpath Start]***/\n\nMyOperation.ParamValue = [\"senddata\",\"Request\"];\n\n/***[コピー先のJsonObjectを指定するpath End]***/\n\n/***[コピー先のJsonObjectを指定するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ValueKind = 2;\n\n/***[コピー先のJsonObjectを指定するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 4;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":1973.9765853881836,"y":961.2943229675293,"wires":[["6cecd27f.ae326c"]]},{"id":"6cecd27f.ae326c","type":"function","z":"3b30315b.af32fe","name":"【debug】送信バッファを表示","func":"var MyOperation = new Object();\n\n\n/***[表示対象のデータを取得するpath Start]***/\n\nMyOperation.ParamName = [\"senddata\"];\n\n/***[表示対象のデータを取得するpath End]***/\n\n/***[表示対象のデータを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 2;\n\n/***[表示対象のデータを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 13;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":2262.9767837524414,"y":961.2943229675293,"wires":[["11401f44.b9d651"]]},{"id":"11401f44.b9d651","type":"function","z":"3b30315b.af32fe","name":"内部イベント発行","func":"var MyOperation = new Object();\n\n/***[送信先のURIを取得するpath Start]***/\n\nMyOperation.SendTo = [\"SendURI\"];\n\n/***[送信先のURIを取得するpath End]***/\n\n/***[送信先のURIを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.URLKind = 4;\n\n/***[送信先のURIを取得するバッファ種別 End]***/\n\n/***[送信するデータのpath Start]***/\n\nMyOperation.SendValue = [\"senddata\"];\n\n/***[送信するデータのpath End]***/\n\n/***[送信するデータのバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ValueKind = 2;\n\n/***[送信するデータのバッファ種別 End]***/\n\n/***[応答データの格納先のpath Start]***/\n\nMyOperation.Result = [\"Response\"];\n\n/***[応答データの格納先のpath End]***/\n\n/***[応答データの格納先のバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.DataKind = 2;\n\n/***[応答データの格納先のバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 5;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":2511.976707458496,"y":963.2943201065063,"wires":[["d6f6ff11.afca2"]]},{"id":"efea8f24.9d0f","type":"comment","z":"3b30315b.af32fe","name":"━━━━━━━━━━━━━━━━━━━━【/app-sessions-internal-001受信】━━━━━━━━━━━━━━━━━━━━","info":"セッションバインドのチェック処理を行う。","x":815.9765701293945,"y":1054.2943115234375,"wires":[]},{"id":"4b2b4b6b.b81d74","type":"inject","z":"3b30315b.af32fe","name":"ServicePlan","topic":"","payload":"{\"PduSession\":{\"supi\":\"imsi-819037452314\",\"interGrpIds\":[\"12345678-123-123-a1\",\"12345678-123-123-a2\"],\"pduSessionId\":1,\"pduSessionType\":\"IPV4\",\"dnn\":\"dnn1\",\"notificationUri\":\"https://example.com/nsmf-pdusession/v1\",\"accessType\":\"3GPP_ACCESS\",\"ratType\":\"EUTRA\",\"userLocationInfo\":{\"eutraLocation\":{\"tai\":{\"plmnId\":{\"mcc\":\"440\",\"mnc\":\"20\"},\"tac\":\"1234\"},\"ecgi\":{\"plmnId\":{\"mcc\":\"440\",\"mnc\":\"20\"},\"eutraCellId\":\"1234567\"}}},\"ueTimeZone\":\"JST\",\"pei\":\"imei-356741081632167\",\"ipv4Address\":\"192.168.0.1\",\"subsSessAmbr\":{\"uplink\":\"10Mbps\",\"downlink\":\"10Mbps\"},\"subsDefQos\":{\"5qi\":5,\"arp\":{\"priorityLevel\":15,\"preemptCap\":\"NOT_PREEMPT\",\"preemptVuln\":\"NOT_PREEMPTABLE\"}},\"sliceInfo\":{\"sst\":1},\"smPolicyId\":\"12514;626b86232db17dc4975768c42737c807ee7c2c28;1\"},\"Request\":{\"appSessionId\":\"appSessionId\",\"afAppId\":\"afAppId1\",\"dnn\":\"dnn1\",\"medComponents\":{\"medComponents1\":{\"fStatus\":\"ENABLED\",\"marBwDl\":\"10Mbps\",\"marBwUl\":\"10Mbps\",\"medCompN\":1,\"medType\":\"AUDIO\",\"resPrio\":\"PRIO_9\",\"medSubComps\":{\"medSubComps1\":{\"fNum\":1,\"fDescs\":[\"permit in ip from any to any\",\"permit out ip from any to any\"],\"fStatus\":\"ENABLED\",\"marBwDl\":\"10Mbps\",\"marBwUl\":\"10Mbps\",\"flowUsage\":\"RTCP\"},\"medSubComps2\":{\"fNum\":2,\"fDescs\":[\"permit in ip from 192.0.2.10/24 8080 to any\"],\"fStatus\":\"ENABLED\",\"marBwDl\":\"10Mbps\",\"marBwUl\":\"10Mbps\",\"flowUsage\":\"NO_INFO\"}}},\"medComponents2\":{\"fStatus\":\"ENABLED\",\"marBwDl\":\"10Mbps\",\"marBwUl\":\"10Mbps\",\"medCompN\":2,\"medType\":\"VIDEO\",\"resPrio\":\"PRIO_9\",\"medSubComps\":{\"medSubComps1\":{\"fNum\":3,\"fDescs\":[\"permit in ip from any to 192.0.2.10/24\",\"permit out ip from any to 192.0.2.10/24\"],\"fStatus\":\"ENABLED\",\"marBwDl\":\"10Mbps\",\"marBwUl\":\"10Mbps\",\"flowUsage\":\"RTCP\"},\"medSubComps2\":{\"fNum\":4,\"fDescs\":[\"permit in ip from 192.0.2.10/24 8080 to any\"],\"fStatus\":\"ENABLED\",\"marBwDl\":\"10Mbps\",\"marBwUl\":\"10Mbps\",\"flowUsage\":\"NO_INFO\"}}}},\"resPrio\":\"PRIO_9\",\"sliceInfo\":{\"sst\":0},\"supi\":\"imsi-819037452314\",\"ueIpv4\":\"192.168.0.1\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":487.9765853881836,"y":1164.6276779174805,"wires":[["e927689b.e4d5d8"]]},{"id":"e927689b.e4d5d8","type":"function","z":"3b30315b.af32fe","name":"/app-sessions-internal-001","func":"/*********************\n * ServicePlan定義時のトップになるFunctionNode\n *********************/\n\nvar MyOperation = new Object();\n\n/***[ServicePlanIDを設定する Start]***/\n\nMyOperation.ServicePlanID = \"/app-sessions-internal-001\";\n\n/***[ServicePlanIDを設定する End]***/\n\nvar Condition = [];\n\nvar msg1 = new Object();\nmsg1.Condition = Condition;\nmsg1.Condition.push(MyOperation);\nmsg1.Top = true;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":734.9765853881836,"y":1164.6276779174805,"wires":[["5b33c6c5.f7a0a8"]]},{"id":"b86bb635.171e38","type":"comment","z":"3b30315b.af32fe","name":"受信データ","info":"{\n    \"PduSession\": {\n        \"supi\": \"imsi-819037452314\",\n        \"interGrpIds\": [\n            \"12345678-123-123-a1\",\n            \"12345678-123-123-a2\"\n        ],\n        \"pduSessionId\": 1,\n        \"pduSessionType\": \"IPV4\",\n        \"dnn\": \"dnn1\",\n        \"notificationUri\": \"https://example.com/nsmf-pdusession/v1\",\n        \"accessType\": \"3GPP_ACCESS\",\n        \"ratType\": \"EUTRA\",\n        \"userLocationInfo\": {\n            \"eutraLocation\": {\n                \"tai\": {\n                    \"plmnId\": {\n                        \"mcc\": \"440\",\n                        \"mnc\": \"20\"\n                    },\n                    \"tac\": \"1234\"\n                },\n                \"ecgi\": {\n                    \"plmnId\": {\n                        \"mcc\": \"440\",\n                        \"mnc\": \"20\"\n                    },\n                    \"eutraCellId\": \"1234567\"\n                }\n            }\n        },\n        \"ueTimeZone\": \"JST\",\n        \"pei\": \"imei-356741081632167\",\n        \"ipv4Address\": \"192.168.0.1\",\n        \"subsSessAmbr\": {\n            \"uplink\": \"10Mbps\",\n            \"downlink\": \"10Mbps\"\n        },\n        \"subsDefQos\": {\n            \"5qi\": 5,\n            \"arp\": {\n                \"priorityLevel\": 15,\n                \"preemptCap\": \"NOT_PREEMPT\",\n                \"preemptVuln\": \"NOT_PREEMPTABLE\"\n            }\n        },\n        \"sliceInfo\": {\n            \"sst\": 1\n        },\n        \"smPolicyId\": \"12514;626b86232db17dc4975768c42737c807ee7c2c28;1\"\n    },\n    \"Request\": {\n        \"appSessionId\": \"appSessionId\",\n        \"afAppId\": \"afAppId1\",\n        \"dnn\": \"dnn1\",\n        \"medComponents\": {\n            \"medComponents1\": {\n                \"fStatus\": \"ENABLED\",\n                \"marBwDl\": \"10Mbps\",\n                \"marBwUl\": \"10Mbps\",\n                \"medCompN\": 1,\n                \"medType\": \"AUDIO\",\n                \"resPrio\": \"PRIO_9\",\n                \"medSubComps\": {\n                    \"medSubComps1\": {\n                        \"fNum\": 1,\n                        \"fDescs\": [\n                            \"permit in ip from any to any\",\n                            \"permit out ip from any to any\"\n                        ],\n                        \"fStatus\": \"ENABLED\",\n                        \"marBwDl\": \"10Mbps\",\n                        \"marBwUl\": \"10Mbps\",\n                        \"flowUsage\": \"RTCP\"\n                    },\n                    \"medSubComps2\": {\n                        \"fNum\": 2,\n                        \"fDescs\": [\n                            \"permit in ip from 192.0.2.10/24 8080 to any\"\n                        ],\n                        \"fStatus\": \"ENABLED\",\n                        \"marBwDl\": \"10Mbps\",\n                        \"marBwUl\": \"10Mbps\",\n                        \"flowUsage\": \"NO_INFO\"\n                    }\n                }\n            },\n            \"medComponents2\": {\n                \"fStatus\": \"ENABLED\",\n                \"marBwDl\": \"10Mbps\",\n                \"marBwUl\": \"10Mbps\",\n                \"medCompN\": 2,\n                \"medType\": \"VIDEO\",\n                \"resPrio\": \"PRIO_9\",\n                \"medSubComps\": {\n                    \"medSubComps1\": {\n                        \"fNum\": 3,\n                        \"fDescs\": [\n                            \"permit in ip from any to 192.0.2.10/24\",\n                            \"permit out ip from any to 192.0.2.10/24\"\n                        ],\n                        \"fStatus\": \"ENABLED\",\n                        \"marBwDl\": \"10Mbps\",\n                        \"marBwUl\": \"10Mbps\",\n                        \"flowUsage\": \"RTCP\"\n                    },\n                    \"medSubComps2\": {\n                        \"fNum\": 4,\n                        \"fDescs\": [\n                            \"permit in ip from 192.0.2.10/24 8080 to any\"\n                        ],\n                        \"fStatus\": \"ENABLED\",\n                        \"marBwDl\": \"10Mbps\",\n                        \"marBwUl\": \"10Mbps\",\n                        \"flowUsage\": \"NO_INFO\"\n                    }\n                }\n            }\n        },\n        \"resPrio\": \"PRIO_9\",\n        \"sliceInfo\": {\n            \"sst\": 0\n        },\n        \"supi\": \"imsi-819037452314\",\n        \"ueIpv4\": \"192.168.0.1\"\n    }\n}","x":489.1432800292969,"y":1208.294379234314,"wires":[]},{"id":"e2d9b367.47b0d","type":"comment","z":"3b30315b.af32fe","name":"━━━━━━━━━━━━━━━━━━━━【セッションバインドのチェック】━━━━━━━━━━━━━━━━━━━━","info":"","x":817.9765701293945,"y":1289.9609375,"wires":[]},{"id":"e1119377.6664f","type":"CreateJson","z":"3b30315b.af32fe","name":"登録Table名、Key値を記載","topic":"","tablename":"SERVICE_PLAN","keyvalue":"/app-sessions-internal-001","intervalCount":1,"intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":660.9765701293945,"y":1103.9609375,"wires":[["6c1c57a2.716b88"]]},{"id":"572b9eaa.70532","type":"mysql","z":"3b30315b.af32fe","mydb":"b35679cc.f45b18","name":"DB登録","x":1080.9765701293945,"y":1103.9609375,"wires":[["ebd954bb.da2b78"]]},{"id":"ebd954bb.da2b78","type":"debug","z":"3b30315b.af32fe","name":"結果","active":true,"console":"false","complete":"true","x":1250.9765701293945,"y":1103.9609375,"wires":[]},{"id":"6c1c57a2.716b88","type":"function","z":"3b30315b.af32fe","name":"SQL文変換","func":"msg.topic = \"replace into \" + msg.tablename + \" values('\" + msg.keyvalue + \"','\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":890.9765701293945,"y":1103.9609375,"wires":[["572b9eaa.70532"]]},{"id":"3579b366.446d4c","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-004","links":["a2990a7.8e881f8"],"x":435.1432418823242,"y":1098.6276245117188,"wires":[]},{"id":"a2990a7.8e881f8","type":"link in","z":"3b30315b.af32fe","name":"app-sessions-internal-004","links":["3579b366.446d4c","7957faba.1037b4"],"x":477.14326095581055,"y":1103.2943019866943,"wires":[["e1119377.6664f"]]},{"id":"82823f7c.2183e","type":"CreateJson","z":"3b30315b.af32fe","name":"登録Table名、Key値を記載","topic":"","tablename":"CONDITION_TABLE","keyvalue":"11","intervalCount":1,"intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":862.9765701293945,"y":1343.9609375,"wires":[["2ed26ae.6b4c496"]]},{"id":"41b31d92.f03954","type":"mysql","z":"3b30315b.af32fe","mydb":"b35679cc.f45b18","name":"DB登録","x":1282.9765701293945,"y":1343.9609375,"wires":[["15e90dae.9ab482"]]},{"id":"15e90dae.9ab482","type":"debug","z":"3b30315b.af32fe","name":"結果","active":true,"console":"false","complete":"true","x":1452.9765701293945,"y":1343.9609375,"wires":[]},{"id":"2ed26ae.6b4c496","type":"function","z":"3b30315b.af32fe","name":"SQL文変換","func":"msg.topic = \"replace into \" + msg.tablename + \" values('\" + msg.keyvalue + \"','\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1092.9765701293945,"y":1343.9609375,"wires":[["41b31d92.f03954"]]},{"id":"496db6bd.89beb8","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-005","links":["f417b97f.3a01b8"],"x":616.1432456970215,"y":1343.627643585205,"wires":[]},{"id":"f417b97f.3a01b8","type":"link in","z":"3b30315b.af32fe","name":"app-sessions-internal-005","links":["496db6bd.89beb8","ab32c639.dda958","a305f85e.ede568"],"x":680.1432638168335,"y":1339.2943096160889,"wires":[["82823f7c.2183e"]]},{"id":"b075ec1a.6f04c","type":"inject","z":"3b30315b.af32fe","name":"Condition","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":555.9765701293945,"y":1433.627685546875,"wires":[["c992251c.171298"]]},{"id":"c992251c.171298","type":"function","z":"3b30315b.af32fe","name":"11","func":"/*********************\n * Condition定義時のトップになるFunctionNode\n * Conditionの固有パラメータはここに設定する。\n *********************/\n\nvar MyOperation = new Object();\n\n/***[ConditionTypeを設定する Start]***/\n\nMyOperation.ConditionType = 11;\n\n/***[ConditionTypeを設定する End]***/\n\n/***[固有パラメータを設定 Start]***/\n\n/***[固有パラメータを設定 End]***/\n\nvar Condition = [];\nmsg.Condition = Condition;\nmsg.Condition.push(MyOperation);\nmsg.Top = true;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":687.9765815734863,"y":1431.627685546875,"wires":[["277f0dde.4373a2"]]},{"id":"5943ee41.eef31","type":"function","z":"3b30315b.af32fe","name":"PduSessionからIPaddress取得","func":"/*********************\n * Request信号からデータを取得する。\n *********************/\n\nvar MyOperation = new Object();\nMyOperation.OperationType = 4;\n\n/***[値の取得元パス Start]***/\nMyOperation.ParamName = [\"PduSession\",\"ipv4Address\"];\n/***[値の取得元パス End]***/\n\n/***[取得対象の値の型 Start]***/\n/********************\n * 0 : Int\n * 1 : String\n ********************/\n\nMyOperation.ParamKind = 1;\n\n/***[取得対象の値の型 End]***/\n\nvar len = msg.Condition.length;\n\nif(msg.Top != true){\n  msg.Condition[len-1].Operation = [];\n  for (var i = 0;  i < msg.counter;  i++  ) {\n    msg.Condition[len-1].Operation.push(null);\n  }\n  msg.Condition[len-1].Operation.push(MyOperation);\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ConditionType = msg.ConditionType;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.Top = false;\nmsg1.counter = 0;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":1014.9765853881836,"y":1406.2943534851074,"wires":[["ab32c639.dda958"]]},{"id":"9089fe01.20704","type":"function","z":"3b30315b.af32fe","name":"受信信号からIPaddress取得","func":"/*********************\n * Request信号からデータを取得する。\n *********************/\n\nvar MyOperation = new Object();\nMyOperation.OperationType = 4;\n\n/***[値の取得元パス Start]***/\nMyOperation.ParamName = [\"Request\",\"ueIpv4\"];\n/***[値の取得元パス End]***/\n\n/***[取得対象の値の型 Start]***/\n/********************\n * 0 : Int\n * 1 : String\n ********************/\n\nMyOperation.ParamKind = 1;\n\n/***[取得対象の値の型 End]***/\n\nvar len = msg.Condition.length;\n\nif(msg.Top != true){\n  msg.Condition[len-1].Operation = [];\n  for (var i = 0;  i < msg.counter;  i++  ) {\n    msg.Condition[len-1].Operation.push(null);\n  }\n  msg.Condition[len-1].Operation.push(MyOperation);\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ConditionType = msg.ConditionType;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.Top = false;\nmsg1.counter = 0;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":1005.9765853881836,"y":1455.2943534851074,"wires":[["a305f85e.ede568"]]},{"id":"277f0dde.4373a2","type":"function","z":"3b30315b.af32fe","name":"Equal","func":"/*********************\n * 出力端子につないだデータの一致をチェックする。\n *********************/\n\nvar MyOperation = new Object();\nMyOperation.OperationType = 0;\n\nvar len = msg.Condition.length;\nif(msg.Top != true){\n  msg.Condition[len-1].Operation = [];\n  for (var i = 0;  i < msg.counter;  i++  ) {\n    msg.Condition[len-1].Operation.push(null);\n  }\n  msg.Condition[len-1].Operation.push(MyOperation);\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ConditionType = msg.ConditionType;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.Top = false;\nmsg1.counter = 0;\n\nvar msg2 = new Object();\nmsg2.Condition = msg.Condition;\nmsg1.Top = false;\nmsg2.counter = 1;\n\nreturn [msg1,msg2];\n","outputs":"2","noerr":0,"x":808.9765777587891,"y":1432.294355392456,"wires":[["5943ee41.eef31"],["9089fe01.20704"]]},{"id":"ab32c639.dda958","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-005","links":["f417b97f.3a01b8"],"x":1193.9765701293945,"y":1401.2943115234375,"wires":[]},{"id":"a305f85e.ede568","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-005","links":["f417b97f.3a01b8"],"x":1196.9765701293945,"y":1457.2943115234375,"wires":[]},{"id":"ff208bee.3042e8","type":"comment","z":"3b30315b.af32fe","name":"━━━━━━━━━━━━━━━━━━━━【起動回数カウンターを初期化】━━━━━━━━━━━━━━━━━━━━","info":"","x":811.9765701293945,"y":1558.6275634765625,"wires":[]},{"id":"910e6f9a.c5559","type":"inject","z":"3b30315b.af32fe","name":"Action","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":526.9765739440918,"y":1692.6276950836182,"wires":[["23eba4a2.aa7eec"]]},{"id":"b7ccde.3187632","type":"CreateJson","z":"3b30315b.af32fe","name":"登録Table名、Key値を記載","topic":"","tablename":"ACTION_TABLE","keyvalue":"11","intervalCount":1,"intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":797.9765701293945,"y":1614.6275634765625,"wires":[["aaafdefc.366b8"]]},{"id":"28cf5973.c49676","type":"mysql","z":"3b30315b.af32fe","mydb":"b35679cc.f45b18","name":"DB登録","x":1217.9765701293945,"y":1614.6275634765625,"wires":[["ff9061af.d23"]]},{"id":"ff9061af.d23","type":"debug","z":"3b30315b.af32fe","name":"結果","active":true,"console":"false","complete":"true","x":1387.9765701293945,"y":1614.6275634765625,"wires":[]},{"id":"aaafdefc.366b8","type":"function","z":"3b30315b.af32fe","name":"SQL文変換","func":"msg.topic = \"replace into \" + msg.tablename + \" values('\" + msg.keyvalue + \"','\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1027.9765701293945,"y":1614.6275634765625,"wires":[["28cf5973.c49676"]]},{"id":"a0643beb.16f7d8","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-006","links":["d36893b3.737f4"],"x":587.1432638168335,"y":1615.2943601608276,"wires":[]},{"id":"d36893b3.737f4","type":"link in","z":"3b30315b.af32fe","name":"app-sessions-internal-006","links":["a0643beb.16f7d8","9d8a24e3.3cb908"],"x":639.1432666778564,"y":1613.9610271453857,"wires":[["b7ccde.3187632"]]},{"id":"23eba4a2.aa7eec","type":"function","z":"3b30315b.af32fe","name":"11","func":"/*********************\n * Action定義時のトップになるFunctionNode\n * Actionの固有パラメータはここに設定する。\n *********************/\n\nvar MyOperation = new Object();\n\n/***[ActionTypeを設定する Start]***/\n\nMyOperation.ActionType = 11;\n\n/***[ActionTypeを設定する End]***/\n\n/***[固有パラメータを設定 Start]***/\n\nMyOperation.StartCounter = 0;\n\n/***[固有パラメータを設定 End]***/\n\nMyOperation.Operation = [];\n\nvar Condition = [];\nmsg.Condition = Condition;\nmsg.Condition.push(MyOperation);\nmsg.ActionNum = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":658.9765815734863,"y":1694.294361114502,"wires":[["48f7e7d2.7fc1b8"]]},{"id":"48f7e7d2.7fc1b8","type":"function","z":"3b30315b.af32fe","name":"【debug】PduSession信号表示","func":"var MyOperation = new Object();\n\n\n/***[表示対象のデータを取得するpath Start]***/\n\nMyOperation.ParamName = [\"PduSession\"];\n\n/***[表示対象のデータを取得するpath End]***/\n\n/***[表示対象のデータを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 0;\n\n/***[表示対象のデータを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 13;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":871.9765853881836,"y":1693.2943620681763,"wires":[["a41094f1.ccd218"]]},{"id":"a41094f1.ccd218","type":"function","z":"3b30315b.af32fe","name":"【debug】Request信号表示","func":"var MyOperation = new Object();\n\n\n/***[表示対象のデータを取得するpath Start]***/\n\nMyOperation.ParamName = [\"Request\"];\n\n/***[表示対象のデータを取得するpath End]***/\n\n/***[表示対象のデータを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 0;\n\n/***[表示対象のデータを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 13;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":1151.9765930175781,"y":1694.6276531219482,"wires":[["516750da.adee6"]]},{"id":"9d8a24e3.3cb908","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-006","links":["d36893b3.737f4"],"x":2075.9765625,"y":1694.627685546875,"wires":[]},{"id":"5b33c6c5.f7a0a8","type":"function","z":"3b30315b.af32fe","name":"ConditionType = 11","func":"var MyOperation = new Object();\n\n/***[ConditionIDを設定 Start]***/\n\nMyOperation.ConditionType = 11;\n\n/***[ConditionIDを設定 End]***/\n\n/***[Conditionの固有パラメータ設定 Start]***/\n\n/***[Conditionの固有パラメータ設定 End]***/\n\nMyOperation.TrueCondition = null;\nMyOperation.FalseCondition = null;\nMyOperation.TrueAction = null;\nMyOperation.FalseAction = null;\n\nvar len = msg.Condition.length;\n\nif(msg.Top != true) {\n  switch (msg.LinkName) {\n    case \"TrueCondition\":\n      msg.Condition[len-1].TrueCondition = MyOperation;\n      break;\n    case \"FalseCondition\":\n      msg.Condition[len-1].FalseCondition = MyOperation;\n      break;\n    default:\n  }\n  msg.Condition.push(MyOperation);\n} else {\n  MyOperation.ServicePlanID = msg.Condition[len-1].ServicePlanID;\n  msg.Condition[len-1] = MyOperation;\n}\n\nvar msg1 = new Object();\nmsg1.Top = false;\nmsg1.Condition = msg.Condition;\nmsg1.LinkName = \"TrueCondition\";\n\nvar msg2 = new Object();\nmsg2.Top = false;\nmsg2.Condition = msg.Condition;\nmsg2.LinkName = \"FalseCondition\";\n\nvar msg3 = new Object();\nmsg3.Condition = msg.Condition;\nmsg3.LinkName = \"TrueAction\";\nmsg3.ActionCount = 0;\n\nvar msg4 = new Object();\nmsg4.Condition = msg.Condition;\nmsg4.LinkName = \"FalseAction\";\nmsg4.ActionCount = 0;\n\nreturn [msg1,msg2,msg3,msg4]\n","outputs":"4","noerr":0,"x":986.9765701293945,"y":1165.9609375,"wires":[[],[],["7ea0e970.b42f48"],[]]},{"id":"7ea0e970.b42f48","type":"function","z":"3b30315b.af32fe","name":"ActionType = 11","func":"var MyOperation = new Object();\n\n/***[ActionIDを設定 Start]***/\n\nMyOperation.ActionType = 11;\n\n/***[ActionIDを設定 End]***/\n\n/***[Actionの固有パラメータ設定 Start]***/\n\n\n/***[Actionの固有パラメータ設定 End]***/\n\nvar len = msg.Condition.length;\n\nswitch (msg.LinkName) {\n  case \"TrueAction\":\n    if(msg.ActionCount == 0){\n      msg.Condition[len-1].TrueAction = []\n    }\n    msg.Condition[len-1].TrueAction[msg.ActionCount] = MyOperation;\n    break;\n  case \"FalseAction\":\n    if(msg.ActionCount == 0){\n      msg.Condition[len-1].FalseAction = []\n    }\n    msg.Condition[len-1].FalseAction[msg.ActionCount] = MyOperation;\n    break;\n    default:\n}\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.LinkName = msg.LinkName;\nmsg1.ActionCount = msg.ActionCount + 1;\n\nreturn msg1;","outputs":"1","noerr":0,"x":1195.9765930175781,"y":1171.9609718322754,"wires":[["7957faba.1037b4"]]},{"id":"7957faba.1037b4","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-004","links":["a2990a7.8e881f8"],"x":1326.9765701293945,"y":1168.6275634765625,"wires":[]},{"id":"516750da.adee6","type":"function","z":"3b30315b.af32fe","name":"起動カウンタを初期化","func":"var MyOperation = new Object();\n\n/***[コピー元のJsonObjectを取得するpath Start]***/\n\nMyOperation.ParamName = [\"StartCounter\"];\n\n/***[コピー元のJsonObjectを取得するpath End]***/\n\n/***[コピー元のJsonObjectを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 4;\n\n/***[コピー元のJsonObjectを取得するバッファ種別 End]***/\n\n/***[コピー先のJsonObjectを指定するpath Start]***/\n\nMyOperation.ParamValue = [\"OpeCounter\"];\n\n/***[コピー先のJsonObjectを指定するpath End]***/\n\n/***[コピー先のJsonObjectを指定するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ValueKind = 2;\n\n/***[コピー先のJsonObjectを指定するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 4;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":1399,"y":1694,"wires":[["419f7de2.cfa474"]]},{"id":"419f7de2.cfa474","type":"function","z":"3b30315b.af32fe","name":"【debug】カウンター表示","func":"var MyOperation = new Object();\n\n\n/***[表示対象のデータを取得するpath Start]***/\n\nMyOperation.ParamName = [\"OpeCounter\"];\n\n/***[表示対象のデータを取得するpath End]***/\n\n/***[表示対象のデータを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 2;\n\n/***[表示対象のデータを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 13;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":1642,"y":1695,"wires":[["383197a3.d33338"]]},{"id":"383197a3.d33338","type":"function","z":"3b30315b.af32fe","name":"【debug】カウンター表示","func":"var MyOperation = new Object();\n\n\n/***[表示対象のデータを取得するpath Start]***/\n\nMyOperation.ParamName = [\"OpeCounter\"];\n\n/***[表示対象のデータを取得するpath End]***/\n\n/***[表示対象のデータを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 2;\n\n/***[表示対象のデータを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 13;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":1909,"y":1695,"wires":[["9d8a24e3.3cb908"]]},{"id":"13e926d3.2ed979","type":"function","z":"3b30315b.af32fe","name":"12","func":"/*********************\n * Action定義時のトップになるFunctionNode\n * Actionの固有パラメータはここに設定する。\n *********************/\n\nvar MyOperation = new Object();\n\n/***[ActionTypeを設定する Start]***/\n\nMyOperation.ActionType = 12;\n\n/***[ActionTypeを設定する End]***/\n\n/***[固有パラメータを設定 Start]***/\n\nMyOperation.StartCounter = 0;\nMyOperation.URI = \"/app-sessions-internal-002\";\n\n/***[固有パラメータを設定 End]***/\n\n/***[Actionの実行単位を設定 Start]***/\n\n/***********************************\n * 指定しない場合は記載を削除する。\n ***********************************/\n\nMyOperation.ActionUnit = [\"Request\",\"medComponents\",\"*\",\"medSubComps\",\"*\"];\n\n/***[Actionの実行単位を設定 End]***/\n\n/***[Actionの実行単位のバッファ種別 Start]***/\n\n/***********************************\n * 指定しない場合は記載を削除する。\n ***********************************/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.UnitType = 0;\n\n/***[Actionの実行単位のバッファ種別 End]***/\n\nMyOperation.Operation = [];\n\nvar Condition = [];\nmsg.Condition = Condition;\nmsg.Condition.push(MyOperation);\nmsg.ActionNum = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":651,"y":1970,"wires":[["5412e185.2423b"]]},{"id":"d284c041.4501d","type":"comment","z":"3b30315b.af32fe","name":"━━━━━━━━━━━━━━━━━━━━【mediaSubComponent単位に内部イベント発行】━━━━━━━━━━━━━━━━━━━━","info":"","x":905,"y":1823,"wires":[]},{"id":"82a98d26.04d14","type":"CreateJson","z":"3b30315b.af32fe","name":"登録Table名、Key値を記載","topic":"","tablename":"ACTION_TABLE","keyvalue":"12","intervalCount":1,"intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"mean","x":764,"y":1892,"wires":[["57ef46db.ecea58"]]},{"id":"65eba04b.f3ff2","type":"mysql","z":"3b30315b.af32fe","mydb":"b35679cc.f45b18","name":"DB登録","x":1184,"y":1892,"wires":[["5fa69772.69eca8"]]},{"id":"5fa69772.69eca8","type":"debug","z":"3b30315b.af32fe","name":"結果","active":true,"console":"false","complete":"true","x":1354,"y":1892,"wires":[]},{"id":"57ef46db.ecea58","type":"function","z":"3b30315b.af32fe","name":"SQL文変換","func":"msg.topic = \"replace into \" + msg.tablename + \" values('\" + msg.keyvalue + \"','\" + JSON.stringify(msg.payload) + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":994,"y":1892,"wires":[["65eba04b.f3ff2"]]},{"id":"abf6d338.ff6b2","type":"inject","z":"3b30315b.af32fe","name":"Action","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":526,"y":1970,"wires":[["13e926d3.2ed979"]]},{"id":"cc758e0f.d1969","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-007","links":["2338588a.533438"],"x":534,"y":1894,"wires":[]},{"id":"2338588a.533438","type":"link in","z":"3b30315b.af32fe","name":"app-sessions-internal-007","links":["cc758e0f.d1969","a94d891e.c15558"],"x":586,"y":1893,"wires":[["82a98d26.04d14"]]},{"id":"5412e185.2423b","type":"function","z":"3b30315b.af32fe","name":"【debug】ActionInput表示","func":"var MyOperation = new Object();\n\n\n/***[表示対象のデータを取得するpath Start]***/\n\nMyOperation.ParamName = [\"ActionInput\"];\n\n/***[表示対象のデータを取得するpath End]***/\n\n/***[表示対象のデータを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 2;\n\n/***[表示対象のデータを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 13;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":851,"y":1970,"wires":[["4ba51afb.162254"]]},{"id":"4ba51afb.162254","type":"function","z":"3b30315b.af32fe","name":"Action単位のインプット情報を送信バッファへコピー","func":"var MyOperation = new Object();\n\n/***[コピー元のJsonObjectを取得するpath Start]***/\n\nMyOperation.ParamName = [\"ActionInput\"];\n\n/***[コピー元のJsonObjectを取得するpath End]***/\n\n/***[コピー元のJsonObjectを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 2;\n\n/***[コピー元のJsonObjectを取得するバッファ種別 End]***/\n\n/***[コピー先のJsonObjectを指定するpath Start]***/\n\nMyOperation.ParamValue = [\"senddata\",\"ActionInput\"];\n\n/***[コピー先のJsonObjectを指定するpath End]***/\n\n/***[コピー先のJsonObjectを指定するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ValueKind = 2;\n\n/***[コピー先のJsonObjectを指定するバッファ種別 End]***/\n\n/***[コピー元のパスを持つJsonObjectを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.GetPointer = 1;\n\n/***[コピー元のパスを持つJsonObjectを取得するバッファ種別 End]***/\n\n/***[コピー先のパスを持つJsonObjectを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.SetPointer = 1;\n\n/***[コピー先のパスを持つJsonObjectを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 4;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":1194,"y":1969,"wires":[["e6c16a6a.218658"]]},{"id":"e6c16a6a.218658","type":"function","z":"3b30315b.af32fe","name":"起動回数カウンタを送信バッファへコピー","func":"var MyOperation = new Object();\n\n/***[コピー元のJsonObjectを取得するpath Start]***/\n\nMyOperation.ParamName = [\"OpeCounter\"];\n\n/***[コピー元のJsonObjectを取得するpath End]***/\n\n/***[コピー元のJsonObjectを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 2;\n\n/***[コピー元のJsonObjectを取得するバッファ種別 End]***/\n\n/***[コピー先のJsonObjectを指定するpath Start]***/\n\nMyOperation.ParamValue = [\"senddata\",\"OpeCounter\"];\n\n/***[コピー先のJsonObjectを指定するpath End]***/\n\n/***[コピー先のJsonObjectを指定するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ValueKind = 2;\n\n/***[コピー先のJsonObjectを指定するバッファ種別 End]***/\n\n/***[コピー元のパスを持つJsonObjectを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.GetPointer = 1;\n\n/***[コピー元のパスを持つJsonObjectを取得するバッファ種別 End]***/\n\n/***[コピー先のパスを持つJsonObjectを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.SetPointer = 1;\n\n/***[コピー先のパスを持つJsonObjectを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 4;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":1587,"y":1970,"wires":[["e8191fc8.098a5"]]},{"id":"e8191fc8.098a5","type":"function","z":"3b30315b.af32fe","name":"【debug】送信バッファ表示","func":"var MyOperation = new Object();\n\n\n/***[表示対象のデータを取得するpath Start]***/\n\nMyOperation.ParamName = [\"senddata\"];\n\n/***[表示対象のデータを取得するpath End]***/\n\n/***[表示対象のデータを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ParamKind = 2;\n\n/***[表示対象のデータを取得するバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 13;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":1901,"y":1970,"wires":[["74660f9e.24143"]]},{"id":"74660f9e.24143","type":"function","z":"3b30315b.af32fe","name":"内部イベント発行","func":"var MyOperation = new Object();\n\n/***[送信先のURIを取得するpath Start]***/\n\nMyOperation.SendTo = [\"URI\"];\n\n/***[送信先のURIを取得するpath End]***/\n\n/***[送信先のURIを取得するバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.URLKind = 4;\n\n/***[送信先のURIを取得するバッファ種別 End]***/\n\n/***[送信するデータのpath Start]***/\n\nMyOperation.SendValue = [\"senddata\"];\n\n/***[送信するデータのpath End]***/\n\n/***[送信するデータのバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.ValueKind = 2;\n\n/***[送信するデータのバッファ種別 End]***/\n\n/***[応答データの格納先のpath Start]***/\n\nMyOperation.Result = [\"Response\"];\n\n/***[応答データの格納先のpath End]***/\n\n/***[応答データの格納先のバッファ種別 Start]***/\n\n/******************\n * REQUEST      :0\n * ACTION       :1\n * DISTRIBUTION :2\n * ANSWER       :3\n * OPERATION    :4\n * *****************/\n\nMyOperation.DataKind = 2;\n\n/***[応答データの格納先のバッファ種別 End]***/\n\n/***[OperationTypeを設定する Start]***/\n\nMyOperation.OperationType = 5;\n\n/***[OperationTypeを設定する End]***/\n\nmsg.Condition[0].Operation[msg.ActionNum] = MyOperation;\n\nvar msg1 = new Object();\nmsg1.Condition = msg.Condition;\nmsg1.ActionNum = msg.ActionNum + 1;\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":2139,"y":1972,"wires":[["a94d891e.c15558"]]},{"id":"a94d891e.c15558","type":"link out","z":"3b30315b.af32fe","name":"app-sessions-internal-007","links":["2338588a.533438"],"x":2276,"y":1973,"wires":[]},{"id":"721b5af9.38d574","type":"comment","z":"3b30315b.af32fe","name":"━━━━━━━━━━━━━━━━━━━━【mediaSubComponent単位にPCCルールの払い出し】━━━━━━━━━━━━━━━━━━━━","info":"","x":930,"y":2048,"wires":[]},{"id":"b35679cc.f45b18","type":"MySQLdatabase","z":"","host":"10.0.2.15","port":"11200","db":"PCF","tz":""}]